@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <h3>Enter your move</h3>
    <form id="" action="/" method="post">

        <button type="submit" class="btn" id="form-submit">Enter</button>
    </form>
</div>

@if(Model != null)
{


}
